.header{
    background-color: #00b8e2;
    height: 12vh;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile version */
@media (max-width: 640px) {
    .header{
      flex-direction: column;
      justify-content: space-evenly;
    }
}